.rootContainer{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rowContainer{
  display: flex;
  flex-direction: row;

}

.centerText{
  text-align: center;
}